In [1]:
# to be loaded everytime when Jupyter Notebook starts
from pyspark import SparkContext
sc =SparkContext()
sc.master

'local[*]'

In [2]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [3]:
from pyspark.sql import Row

In [5]:
#loading the data
df1 = sc.parallelize( [Row(cid='101', name='Alice', age=25, state='ca'),\
                       Row(cid='102', name='Bob', age=15, state='ny'),\
                       Row(cid='103', name='Bob', age=23, state='nc'), \
                       Row(cid='104', name='Ram', age=45, state='fl')])\
                    .toDF()

df2 = sc.parallelize(\
[Row(cid='101', date='2015-03-12', product='toaster', price=200),\
 Row(cid='104', date='2015-04-12', product='iron', price=120),\
 Row(cid='102', date='2014-12-31', product='fridge', price=850),\
 Row(cid='102', date='2015-02-03', product='cup', price=5)]).toDF()

In [6]:
df1.show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 25|101|Alice|   ca|
| 15|102|  Bob|   ny|
| 23|103|  Bob|   nc|
| 45|104|  Ram|   fl|
+---+---+-----+-----+

In [7]:
df2.show()

+---+----------+-----+-------+
|cid|      date|price|product|
+---+----------+-----+-------+
|101|2015-03-12|  200|toaster|
|104|2015-04-12|  120|   iron|
|102|2014-12-31|  850| fridge|
|102|2015-02-03|    5|    cup|
+---+----------+-----+-------+

In [8]:
df1.first()

Row(age=25, cid='101', name='Alice', state='ca')

In [9]:
df1.take(2)

[Row(age=25, cid='101', name='Alice', state='ca'),
 Row(age=15, cid='102', name='Bob', state='ny')]

In [10]:
df1.show(3)

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 25|101|Alice|   ca|
| 15|102|  Bob|   ny|
| 23|103|  Bob|   nc|
+---+---+-----+-----+
only showing top 3 rows

In [11]:
df1.limit(2).show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 25|101|Alice|   ca|
| 15|102|  Bob|   ny|
+---+---+-----+-----+

In [12]:
df1.describe().show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|                 4|
|   mean|              27.0|
| stddev|12.754084313139327|
|    min|                15|
|    max|                45|
+-------+------------------+

In [20]:
df1.columns

['age', 'cid', 'name', 'state']

In [21]:
df1.dtypes

[('age', 'bigint'), ('cid', 'string'), ('name', 'string'), ('state', 'string')]

In [24]:
df1.schema

StructType(List(StructField(age,LongType,true),StructField(cid,StringType,true),StructField(name,StringType,true),StructField(state,StringType,true)))

In [28]:
df3 = sc.parallelize( [Row(cid='101', name='Alice', age=25, state='ca'),\
                       Row(cid='102', name='Bob', age=15, state='ny'),\
                       Row(cid='103', name='Bob', age=23, state='nc'), \
                       Row(cid='104', name='Ram', age=45, state='fl'),\
                       Row(cid='101', name='Alice', age=25, state='ca'), \
                       Row(cid='104', name='Bob1', age=45, state='ny1')])\
                    .toDF()
df3.show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 25|101|Alice|   ca|
| 15|102|  Bob|   ny|
| 23|103|  Bob|   nc|
| 45|104|  Ram|   fl|
| 25|101|Alice|   ca|
| 45|104| Bob1|  ny1|
+---+---+-----+-----+

In [29]:
df3.distinct().show() 
# removes only rows with identical values for all columns.

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 23|103|  Bob|   nc|
| 15|102|  Bob|   ny|
| 45|104| Bob1|  ny1|
| 45|104|  Ram|   fl|
| 25|101|Alice|   ca|
+---+---+-----+-----+

In [30]:
df1.drop_duplicates(["name"]).show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 45|104|  Ram|   fl|
| 25|101|Alice|   ca|
| 15|102|  Bob|   ny|
+---+---+-----+-----+

In [31]:
df1.sort(df1["age"].desc()).show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 45|104|  Ram|   fl|
| 25|101|Alice|   ca|
| 23|103|  Bob|   nc|
| 15|102|  Bob|   ny|
+---+---+-----+-----+

In [32]:
df1.sort(df1["age"].asc()).show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 15|102|  Bob|   ny|
| 23|103|  Bob|   nc|
| 25|101|Alice|   ca|
| 45|104|  Ram|   fl|
+---+---+-----+-----+

In [34]:
df1.sort("age",ascending=True).show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 15|102|  Bob|   ny|
| 23|103|  Bob|   nc|
| 25|101|Alice|   ca|
| 45|104|  Ram|   fl|
+---+---+-----+-----+

In [35]:
df1.withColumn("age-dog-years",df1["age"]*7).show()

+---+---+-----+-----+-------------+
|age|cid| name|state|age-dog-years|
+---+---+-----+-----+-------------+
| 25|101|Alice|   ca|          175|
| 15|102|  Bob|   ny|          105|
| 23|103|  Bob|   nc|          161|
| 45|104|  Ram|   fl|          315|
+---+---+-----+-----+-------------+

In [36]:
df1.withColumnRenamed("age", "age2").show()

+----+---+-----+-----+
|age2|cid| name|state|
+----+---+-----+-----+
|  25|101|Alice|   ca|
|  15|102|  Bob|   ny|
|  23|103|  Bob|   nc|
|  45|104|  Ram|   fl|
+----+---+-----+-----+

In [37]:
df1.select("name","age").show()

+-----+---+
| name|age|
+-----+---+
|Alice| 25|
|  Bob| 15|
|  Bob| 23|
|  Ram| 45|
+-----+---+

In [38]:
df1.select(df1["name"],df1["age"]*7).show()

+-----+---------+
| name|(age * 7)|
+-----+---------+
|Alice|      175|
|  Bob|      105|
|  Bob|      161|
|  Ram|      315|
+-----+---------+

In [40]:
df1.selectExpr("substr(name,1,3)", "age*10").show()

+----------------+----------+
|substr(name,1,3)|(age * 10)|
+----------------+----------+
|             Ali|       250|
|             Bob|       150|
|             Bob|       230|
|             Ram|       450|
+----------------+----------+

In [41]:
df1.drop("age").show()

+---+-----+-----+
|cid| name|state|
+---+-----+-----+
|101|Alice|   ca|
|102|  Bob|   ny|
|103|  Bob|   nc|
|104|  Ram|   fl|
+---+-----+-----+

In [42]:
df1.filter(df1.age>21).show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 25|101|Alice|   ca|
| 23|103|  Bob|   nc|
| 45|104|  Ram|   fl|
+---+---+-----+-----+

In [44]:
df1[(df1.age >21) | (df1.name=='Bob') ].show()

+---+---+-----+-----+
|age|cid| name|state|
+---+---+-----+-----+
| 25|101|Alice|   ca|
| 15|102|  Bob|   ny|
| 23|103|  Bob|   nc|
| 45|104|  Ram|   fl|
+---+---+-----+-----+

In [45]:
df1.groupBy("name").count().show()

+-----+-----+
| name|count|
+-----+-----+
|  Ram|    1|
|Alice|    1|
|  Bob|    2|
+-----+-----+

In [46]:
df2.select(df2["date"].substr(1,4).alias("year"),\
           df2["price"]).groupBy("year").sum().show()

+----+----------+
|year|sum(price)|
+----+----------+
|2014|       850|
|2015|       325|
+----+----------+

In [47]:
df2.select(df2["date"].substr(1,4).alias("year"), \
           df2["price"]).groupBy("year") \
           .agg({"price": "avg", "year":"count"}).show()

+----+------------------+-----------+
|year|        avg(price)|count(year)|
+----+------------------+-----------+
|2014|             850.0|          1|
|2015|108.33333333333333|          3|
+----+------------------+-----------+

In [48]:
df1.join(df2, df1["cid"]==df2["cid"],"inner").show()

+---+---+-----+-----+---+----------+-----+-------+
|age|cid| name|state|cid|      date|price|product|
+---+---+-----+-----+---+----------+-----+-------+
| 25|101|Alice|   ca|101|2015-03-12|  200|toaster|
| 15|102|  Bob|   ny|102|2014-12-31|  850| fridge|
| 15|102|  Bob|   ny|102|2015-02-03|    5|    cup|
| 45|104|  Ram|   fl|104|2015-04-12|  120|   iron|
+---+---+-----+-----+---+----------+-----+-------+

In [49]:
df1.join(df2, (df1["cid"]==df2["cid"]) & (df2["price"] > 200), "inner")\
.show()

+---+---+----+-----+---+----------+-----+-------+
|age|cid|name|state|cid|      date|price|product|
+---+---+----+-----+---+----------+-----+-------+
| 15|102| Bob|   ny|102|2014-12-31|  850| fridge|
+---+---+----+-----+---+----------+-----+-------+

In [50]:
df1.join(df2, (df1["cid"]==df2["cid"]) & (df2["price"] > 200), "inner")\
.explain()

== Physical Plan ==
SortMergeJoin [cid#1], [cid#4]
:- Sort [cid#1 ASC], false, 0
:  +- TungstenExchange hashpartitioning(cid#1,200), None
:     +- ConvertToUnsafe
:        +- Scan ExistingRDD[age#0L,cid#1,name#2,state#3]
+- Sort [cid#4 ASC], false, 0
   +- TungstenExchange hashpartitioning(cid#4,200), None
      +- ConvertToUnsafe
         +- Filter (price#6L > 200)
            +- Scan ExistingRDD[cid#4,date#5,price#6L,product#7]

In [51]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
get_year = udf(lambda x: int(x[:4]), IntegerType())
df2.select(get_year(df2["date"]).alias("year"), df2["product"]).show()

+----+-------+
|year|product|
+----+-------+
|2015|toaster|
|2015|   iron|
|2014| fridge|
|2015|    cup|
+----+-------+

In [52]:
df2.registerTempTable("my_df")
sqlContext.registerFunction("get_year", lambda x:int(x[:4]))
sqlContext.sql("select get_year(date) as year FROM my_df").show()

+----+
|year|
+----+
|2015|
|2015|
|2014|
|2015|
+----+

In [55]:
df1.join(df2,"cid").show()
#without duplicated

+---+---+-----+-----+----------+-----+-------+
|cid|age| name|state|      date|price|product|
+---+---+-----+-----+----------+-----+-------+
|101| 25|Alice|   ca|2015-03-12|  200|toaster|
|102| 15|  Bob|   ny|2014-12-31|  850| fridge|
|102| 15|  Bob|   ny|2015-02-03|    5|    cup|
|104| 45|  Ram|   fl|2015-04-12|  120|   iron|
+---+---+-----+-----+----------+-----+-------+